@import "tailwindcss";
@plugin "@tailwindcss/typography";

@keyframes bounceUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 0%) scale(0.7);
  }

  15% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -150%) scale(0.8);
  }
}

.animate-bounce-up {
  animation: bounceUp 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

/* ====================== Scrollbar ====================== */

/* Firefox */
* {
  scrollbar-width: auto;
  /* scrollbar-color: var(--secondary) var(--primary); */
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 1px solid var(--primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}

/* ====================== CSS Variables ====================== */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary: rgb(29, 27, 24);
  --secondary: rgb(204, 82, 16);
  --tertiary: rgb(189, 106, 11);
}

/* ====================== Base Styles ====================== */
/* Fix MUI Input Background */
.MuiInputBase-root,
.MuiOutlinedInput-root {
  background-color: white !important;
}

.MuiPaper-root {
  background-color: white !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}